azure-functions==1.21.3
azure-storage-blob==12.24.1
azure-data-tables==12.6.0
azure-identity==1.19.0
azure-keyvault-secrets==4.9.0
cryptography==41.0.7
google-auth==2.38.0
google-api-python-client==2.164.0
Pillow==11.1.0
requests==2.32.3
qrcode==8.1
